In [1]:
for num in 1,2,3,4,5,6,7,8,9,10,11,12:
  if num<=10:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
for num in range(101,201):
  print(num)

101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

In [3]:
for num in range(1,100,2):
  print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [4]:
for num in range(0,21,2):
  print(num)

0
2
4
6
8
10
12
14
16
18
20

In [5]:
total_sum=0
for num in range(1,51):
  total_sum+=num
  print(total_sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275

In [6]:
secret_code = "treasure123"

user_guess=input("Enter your guess:")
while user_guess !=secret_code:
  print("Wrong guess! Try again.")
  user_guess=input("Enter your guess:")

print("Congratulations! You've unlock the treasure vault!" )

Enter your guess:treasure
Wrong guess! Try again.
Enter your guess:treasure123
Congratulations! You've unlock the treasure vault!

In [7]:
simple_math=8

user_sol=int(input("Enter the solution of 5 + 3=:"))
while user_sol !=simple_math:
  print("Wrong solution")
  user_sol=int(input("Enter the solution again:"))

print("Right Answer!!")

Enter the solution of 5 + 3=:6
Wrong solution
Enter the solution again:8
Right Answer!!

In [8]:
target_num=3
while True:
  guess_num= int(input("Guess a number:"))
  if guess_num == target_num:
    print("Congratulations!!")
    break #Exit the loop immediately

print("Game Over!!")

Guess a number:7
Guess a number:3
Congratulations!!
Game Over!!

In [9]:
for num in range(4):
  if num==2:
    break
print(num)

2

In [10]:
for i in range(1,6): #outer loop
   for j in range(1,11): #inner loop
    print(f"{i} * {j} = {i*j}")

   print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [18]:
for num in range(1,11):
  factorial = 1
  for i in range(1,num + 1):
    factorial *=i
  print(f"The factorial of {num} is {factorial}")
  print()

The factorial of 1 is 1

The factorial of 2 is 2

The factorial of 3 is 6

The factorial of 4 is 24

The factorial of 5 is 120

The factorial of 6 is 720

The factorial of 7 is 5040

The factorial of 8 is 40320

The factorial of 9 is 362880

The factorial of 10 is 3628800